.artist-library {
    background-color: #1E1F22;
    display: flex;
    height: 100%;
    width: 100%;
}

.artist-index {
    color: #eee;
    font-size: 13px;
    min-width: 25vw;
    margin-right: 30px;
    overflow-y: scroll;
    height: 100%;
    overflow-y: auto;
}

.artist-index-item img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 0 10px 0 10px;
}

.artist-index-item {
    text-decoration: none;
}

.artist-index-item li {
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid rgba(255,255,255,.25);
    border-right: 1px solid rgba(255,255,255,.25);
    color: #eee;

}

.artist-index-item li:hover {
    opacity: .8;
    cursor: pointer;
}