.audio-player {
    display: flex;
    align-items: center;
    width: 100%;
    overflow-x: scroll;
}

.main-player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    min-width: 220px;
    background-color: #1B1B1C;
    // padding: 0 3px 0 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.audio-player img {
   width: 50px;
   height: 50px;
   border-radius: 2px;
   margin-left: 0px;
}

.current-song-detail {
    display: flex;
    align-items: flex-end;
    margin: 3px;
    width: 100%;
}

.main-player h4 {
    color: gray;
    font-size: 13px;
    font-weight: 500;
    margin-top: 3px;
    margin-bottom: 7px;

}
.main-player p {
    font-size: 11px;
    color: rgb(105, 104, 104);
    margin: 0 3px 0px 3px;
}

.current-song-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.play-buttons {
    width: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 5px;
    position: relative;
}

.small-rewind-left {
    width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-right: 12px solid #A8A9AA;
    border-bottom: 7px solid transparent;
    border-radius: 2px;
}

.big-play-right {
    width: 0;
	height: 0;
	border-top: 11px solid transparent;
	border-left: 20px solid #A8A9AA;
    border-bottom: 11px solid transparent;
    margin: 0 18px 0 18px;
    border-radius: 2px;
    position: absolute;
    left: 60px;
}

.small-forward-right {
    width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-left: 12px solid #A8A9AA;
    border-bottom: 7px solid transparent;
    border-radius: 2px;
}

.fa-pause {
    color: #A8A9AA;
    font-size: 24px;
    margin: 0 18px 0 18px;
    position: absolute;
    left: 60px;
}

.rewind {
    position: absolute;
    left: 20px;
}

.forward {
    position: absolute;
    left: 110px;
}

.rewind, .forward {
    display: flex;
}

.volume-range {
    width: 80px;
    height: 5px;
    border-radius: 3px;
    outline: none;
    background: #d3d3d3;
    outline: none;
    opacity: 0.8;
     -webkit-appearance: none;  
    appearance: none;
     position: absolute;
     left: 155px;
     top: -5px;
}

.volume-range::-webkit-slider-thumb {
  cursor: pointer; 
}

.audio-location-range {
    margin-top: 4px;
    width: 100%;
    height: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.8;
    -webkit-appearance: none;  
    appearance: none;
    position: absolute;
    bottom: -2px;
    left: -1px;
}

.audio-location-range::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 8px; 
  height: 16px; 
  background: #d3d3d3;
  border: 1px solid #1F2022;
  border-radius: 3px;
  cursor: pointer; 
}

.rewind:hover {
    opacity: .7;
    cursor: pointer; 
}

.forward:hover {
    opacity: .7;
    cursor: pointer; 
}

.big-play-right:hover {
    opacity: .7;
    cursor: pointer; 
}

.fa-pause:hover {
    opacity: .7;
    cursor: pointer; 
}

.time {
    width: 30px;
}

#time-played {
    position: absolute;
    bottom: 10px;
    left: 5px;
}

#time-remaining {
    position: absolute;
    bottom: 10px;
    right: 5px;
}

.current-song-info {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
}

.audio-player button {
    background-color: transparent;
    border: none;
    outline: none;
}