#auth-sub-nav-bar {
    height: 36px;
    background-color: #1F2022;
    border: .5px solid #565759;
    border-left: none; 
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logout {
   position: absolute;
   right: 5px;
   background-color: transparent;
}

#logout button {
   color: #eee; 
   font-size: 12px;
   background-color: #1F2022;
   border: none;
}

#logout button:hover {
    cursor: pointer;
    color: #0883FE;
}

#auth-sub-nav-list {
    vertical-align: middle;
    margin-bottom: 3px;
}

#auth-sub-nav-list .nav-link {
    margin-left: 24px;
    color: #eee; 
    font-size: 12px;
    padding: 5px 8px 5px 8px;
    text-decoration: none;
}

#auth-sub-nav-list .nav-link:hover {
    color: lightgray;
} 

.is-active {
    background-color: #2687FA;
    border-radius: 3px;
}

#auth-main-nav-bar {
    background-color: #404143;
    margin: 0 auto;
    height: 50px;
}

#auth-main-nav-div {
    background-color: #404143;
    display: flex;
    justify-content: center;
    align-items: center;
}