#authenticated {
    height: 100%;
    // overflow-y: scroll;
    display: flex;
    flex-direction: column;
}


#main-app {
    height: 100%;
    width: 100%;
      display: flex;
    flex-direction: row;
    
}