.footer {
    font-size: 12px;
    background-color: #F2F2F2;
    color: #888;
    padding: 20px;
    text-align: left;
    line-height: 2;
};

.footer-line {
    border: 1px solid lightgray;
    margin: 10px 0 10px 0;
}