#library-menu {
    width: 20vw;
    background-color: #282A2D;
    color: lightgray;
    font-size: 13px;
    height: 90vh;
    float: left;
}

#library-menu h1 {
    color: lightgray;
    padding: 10px;
    font-size: 11px;
}

#library-menu ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

#library-menu li {
    line-height: 2;
    width: 100%;
}

#library-menu li:hover {
    cursor: pointer;
    color: #eee;
}

.library-menu-item-div {
    width: 100%;
    position: relative;
}

.library-menu-item {
    text-decoration: none;
    color: white;
    line-height: 2;
    display: block;
    padding-left: 20px;
    width: calc(100% - 20px);
    position: relative;
}

.is-library-active {
    background-color: rgb(0,112,201);
}

.library-menu-item:hover {
    color: lightgray;
}