
#nav-bar {
    height: 48px;
    background-color: rgba(45,45,45,0.98);
    color: #fff;
    display: flex; 
    align-items: center;
    justify-content: center;
 }

 #nav-list {
    display: flex;
    margin: 0 20px 0 20px;
 }

 #nav-list img { 
    width: 18px;
 }

 #sub-nav-bar {
    height: 52px;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 10;
 }


#sub-nav-list {
    height: inherit;
    line-height: 2.8;
    display: flex;
    justify-content: space-around;
    align-content: center;
    border-bottom: 1px solid lightgray;
 }

 .left-sub-nav {
     margin-left: 100px;
 }

 .left-sub-nav h1 {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    white-space: nowrap;
 }

 #center-sub-nav {
     width: 300px;
 }

 .right-sub-nav {
     margin-right: 100px;
     display: flex;
     align-items: center;
 }

 .right-sub-nav li {
    margin-left: 18px;
 }

 .right-sub-nav .nav-link {
     font-size: 12px;
     text-decoration: none;
     color: #333;
 }

 .right-sub-nav .nav-link:hover {
     color: #0070c9;
 }

 .right-sub-nav .nav-button {
    background-color: #ff2f56;
    color: white; 
    border: 0px;
    padding: 3px 11px 3px 11px;
    border-radius: 12px;
    font: 12px;
    line-height: 1.5;
    white-space: nowrap;
 }

 .right-sub-nav .nav-button:hover {
    color:  rgba(220,220,220, .6);
    cursor: pointer;
 }