.menu-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: transparent;
  z-index: 10;
}

.menu-child {
  position: absolute;
}

.menu-child:hover {
  cursor: pointer;
}

