@media only screen and (max-width: 720px) {
    .audio-player img {
        display: none;
    }

     .audio-player {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .play-buttons{
        min-width: 100px;
        margin: 0px;
        margin-left: 10px;
        width: 100%;
    }

    .volume-range {
        display: none;
    }

    .main-player {
        min-width: 150px;
        margin: 0px;
        width: 100%;
    }

    #auth-main-nav-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #auth-main-nav-bar {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search-bar-div {
        width: 100%;
    }

    #search-bar {
        width: 100%;
    }

    #library-menu {
        min-width: 90px;
    }

    .last-item {
        padding-left: 3px;
    }

    .artist-index {
        font-size: 13px;
        min-width: 20vw;
        margin-right: 10px;
    }

    .artist-index-item img {
        display: none;
    }
}