#settings-menu {
    background-color: #282A2D;
    position: absolute;
    left: 80px;
    top: 12px;
    border-radius: 2px; 
    width: 170px;
    border: 1px solid rgba(255,255,255,.25);
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    z-index: 10;
    color: white;
}

.playlist-menu-list li {
    border-bottom: 1px solid rgba(255,255,255,.25);
    text-align: center;
}

.playlist-menu-list li:last-child {
    border-bottom: none;
}

.playlist-menu-list li:hover {
    background-color: rgb(0,112,201);
}