#settings-menu {
    background-color: #2E3435;
    opacity: .98;
    position: absolute;
    left: 40px;
    top: 12px;
    border-radius: 3px; 
    width: 150px;
    border: 1px solid rgba(255,255,255,.25);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
    z-index: 100;
    color: white;
    font-size: 12px;
}

.playlist-menu-list {
    z-index: 100;
    display: flex;
    display: inline-block;   
    opacity: .98;
}

.playlist-menu-list li {
    text-align: left;
    border-bottom: 1px solid darkgray;
    max-width: 100%;
    opacity: .98;
}

.playlist-menu-list li:last-child {
    border-bottom: none;
}

.playlist-menu-list li:hover {
    background-color: #2687FA;
}

.dismisser {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
}
