.playlist-display {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.playlist-form {
    background-color: #1F2022;
    color: #eee;
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255,255,255,.25);
}

#playlist-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.playlist-form img {
    float: left;
}

.playlist-name {
    background-color: #1F2022;
    color: #eee;
    border: none;
    font-size: 22px;
    font-weight: 700;
    margin-left: 20px;
    line-height: 1;
    margin-bottom: 3px;
    width: 100%;
}

.playlist-name::placeholder {
    color: #eee;
}

.playlist-description {
    background-color: #1F2022;
    color: lightgrey;
    border: none;
    font-size: 12px;
    font-weight: 500;
    margin-left: 20px;
    width: 100%;
}

.playlist-description::placeholder {
    color: lightgrey;
}

.playlist-form input[type="submit"] {
    border: none; 
    color: #2687FA;
    font-size: 16px;
    background-color: #1F2022;
    margin-left: auto;
}

.playlist-form input[type="submit"]:hover {
    cursor: pointer;
    color: lightgray;
}

.form-line {
    border: 1px solid rgba(255,255,255,.25);
}

img {
    border-radius: 3px;
}

#upload-photo {
   opacity: 0;
   position: absolute;
   z-index: -1;
}

.playlist-form label:hover {
    cursor: pointer;
}

.upload-photo-label {
    position: relative;
}

.fa-camera {
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white;
}

.photo-hover {
    opacity: .4;
}

.fa-random {
    color: #2687FA;
    transition: all .2s ease-in-out;
}

.fa-random:hover {
    opacity: .8;
    transform: scale(1.1); 
    cursor: pointer;
}

.playlist-form-info {
    width: 100%;
    display: flex;
}

