#settings-menu {
    background-color: #282A2D;
    position: absolute;
    left: 40px;
    top: 12px;
    border-radius: 2px; 
    width: 150px;
    border: 1px solid rgba(255,255,255,.25);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
    z-index: 100;
    color: white;
}

.playlist-menu-list {
    z-index: 100;
}

.playlist-menu-list li {
    border-bottom: 1px solid rgba(255,255,255,.25);
    text-align: center;
}

.playlist-menu-list li:last-child {
    border-bottom: none;
}

.playlist-menu-list li:hover {
    background-color: rgb(0,112,201);
}

.dismisser {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
}
