.song-settings-menu {
    position: absolute;
    right: 40px;
    top: 12px;
    border-radius: 3px; 
    width: 150px;
    border: 1px solid rgba(255,255,255,.25);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
    z-index: 100;
    color: white;
    background-color: #2E3435;
}

.song-menu-list li {
    border-bottom: 1px solid rgba(255,255,255,.25);
    text-align: left;
    padding: 6px 0 3px 10px;
    background-color: #2E3435;
    height: 16px;
    font-size: 12px;
}

.song-menu-list li:last-child {
    border-bottom: none;
}

.song-menu-list li:hover {
    background-color: #2687FA;
}

.add-playlist-item {
    position: relative;
}

.add-playlist-list {
    position: absolute;
    width: 150px;
    left: -153px;
    top: -1px;
    z-index: 10;
}

.add-playlist-list {
    border: 1px solid rgba(255,255,255,.25);
    border-radius: 3px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}

.add-playlist-list li:first-child {
    border-bottom: 1px solid rgba(255,255,255,.25);
}

.add-playlist-list li {
    border-bottom: none;
}

.triangle {
    color: white;
    float: right;
}