.songs-display {
    display: flex;
    justify-content: center;
    background-color: #1F2022;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.song-table {
    width: 95%;
    text-align: center;
    overflow-y: scroll;
}

.song-table-body img {
    border-radius: 3px;
    margin: 8px 20px 5px 5px;
}

tr {
    color: white;
    font-size: 13px;
}

td {
    vertical-align: middle;
}

td p {
    vertical-align: middle;
}

td:nth-last-child(2) {
    min-width: 100px;
}

td:first-child {
    padding-left: 4px;
}

td:last-child {
    text-align: right;
    width: 30px;
    padding-right: 8px;
}

th {
    height: 20px;
    background-color: #1F2022;
    font-size: 11px;
    line-height: 2;
    font-weight: 500;
    border-bottom: 1px solid rgba(255,255,255,.25);
}

th:first-child {
    border-left: none;
}

th:last-child {
    border-right: none;
}

.content {
    border-bottom: 1px solid rgba(255,255,255,.25);
}

.selected {
    background-color: rgb(0,112,201);
}

.song-table-body tr:hover {
    cursor: pointer;
}

.song-album {
    color: gray;
    font-size: 12px;
    margin-top: 2px;
}

.content {
    color: lightgray;
    font-size: 12px;
}

.display-album {
    height: 35px;
    padding-top: 5px;
}

.display-album td:first-child {
    text-align: left;
}

.album-detail .song-row th:first-child {
    text-align: left;
}

.display-album td:nth-child(2) {
    text-align: left;
}

.album-detail .song-row th:nth-child(2){
    text-align: left;
}

.songs-body td:first-child {
    width: 25px;
}

.content:first-child {
    padding-left: 100px;
}

.display-other .content {
    text-align: left;
}

.display-other .content:nth-last-child(2) {
    min-width: 0px;
    text-align: left;
}

td:hover .show-hover {
     position: relative;
 }


#song-menu #settings-menu {
    right: 60px;
    top: 12px;
}

.show-hover {
    color: rgb(0,112,201);
    text-align: right;
}

.show-hover-selected {
    color: white;
    text-align: right;
}

.selected {
    background-color: rgb(0,112,201);
    border-radius: 5px;
}

.last-item {
    position: relative;
}