.songs-display {
    display: flex;
    justify-content: center;
    background-color: #1D2022;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.song-table {
    width: 95%;
    text-align: center;
}

.song-table-body img {
    border-radius: 3px;
    margin: 5px;
    margin-right: 8px;
}

tr {
    color: white;
    font-size: 13px;
}

td {
    vertical-align: middle;
}

td p {
    vertical-align: middle;
}

td:nth-last-child(2) {
    min-width: 100px;
}

td:first-child {
    padding-left: 4px;
}

td:last-child {
    text-align: right;
    width: 30px;
    padding-right: 8px;
}

th {
    height: 20px;
    background-color: #1F2022;
    font-size: 11px;
    line-height: 2;
    font-weight: 500;
    border-bottom: 1px solid rgba(255,255,255,.25);
}

th:first-child {
    border-left: none;
}

th:last-child {
    border-right: none;
}

.content {
    border-bottom: 1px solid rgba(255,255,255,.25);
}

.selected {
    background-color: rgb(0,112,201);
}

.song-table-body tr:hover {
    cursor: pointer;
}

.song-album {
    color: gray;
    font-size: 12px;
    margin-top: 2px;
}

.content {
    color: lightgray;
    font-size: 12px;
}

.display-album {
    height: 35px;
    padding-top: 5px;
}

.display-album td:first-child {
    text-align: left;
}

.album-detail .song-row th:first-child {
    text-align: left;
}

.display-album td:nth-child(2) {
    text-align: left;
}

.album-detail .song-row th:nth-child(2){
    text-align: left;
}

.songs-body td:first-child {
    width: 25px;
}

.show-hover {
    visibility: hidden;
    position: absolute;
}

.hide-hover {
    position: absolute;
}

td:hover .show-hover {
    color: rgb(0,112,201);
    font-size: 14px;
    visibility: visible;
    position: absolute;
}

td:hover .hide-hover {
    display: none;
    position: absolute;
}

#song-menu #settings-menu {
    right: 60px;
    top: 12px;
}

.no-hover {
    pointer-events: none;
}

.last-item {
    position: relative;
}

.hide-hover, .show-hover {
    position: absolute;
    top: 11px;
    left: -1px;
}

.display-other .hide-hover, .display-other .show-hover {
    top: 19px;
    left: 0px;
}


.show-hover {
    color: rgb(0,112,201);
}

.show-hover-selected {
    color: white;
}

.selected {
    background-color: rgb(0,112,201);
    border-radius: 5px;
}