/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // CSS Reset
@import "base/reset.scss";

// Core
@import "base/colors.scss";
@import "base/fonts.scss";
@import "base/layout.scss";

// Grid
@import "base/grid.scss";

// Components
@import "components/*";

 #nav-bar {
    height: 48px;
    background-color: rgba(45,45,45,0.98);
    color: #fff;
    display: flex; 
    align-items: center;
    justify-content: center;
 }

 #nav-list {
    display: flex;
    margin: 0 20px 0 20px;
 }

 #nav-list img { 
    width: 18px;
 }

 #sub-nav-bar {
    height: 52px;
    position: relative;
 }

 #splash {
     height: 100vh;
     overflow-x: hidden;
     overflow-y: scroll;
     perspective: 1px;
     text-align: center;
 }

 .splash-content {
    position: relative;
    height: 100vh;
    width: 60%;
    margin: auto;
    padding-top: 60px;
 }

 .splash-content img {
     width: 80px;
 }

 .splash-content h1 {
     font-size: 72px;
     font-weight: 600;
     margin-top: 20px;
 }

 .signup-button {
     background-color: #ff2f56;
     color: white;
     font-size: 17px;
     width: 250px;
     height: 36px;
     font-weight: 600;
     border: none;
     border-radius: 5px;
     margin-top: 60px;
 }

 .signup-button:hover {
     cursor: pointer;
     color:  rgba(220,220,220, .6);
 }

 .hero {
    position: relative;
    height: 100vh;
 }
 
.parallax::after {
     content: '';
     top: 0;
     right: 0;
     left: 0;
     bottom: 0;
     position: absolute;
     transform: translateZ(-1px) scale(2);
     background-size: 100%;
     z-index: -1;
 }

.signup-link:hover {
    color:  rgba(220,220,220, .6);
    cursor: pointer;
 }

 .signup-link {
     color: white;
     text-decoration: none;
 }

 .homepage-link {
     color: #333;
     text-decoration: none;
 }

 .features {
    color: white;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
 }

 .features h1 {
     font-size: 56px;
     font-weight: 500;
 }

 .features h2 {
     font-size: 32px;
     font-weight: 500;
 }

 .features-parallax::after {
     background-image: linear-gradient(to bottom right, #FF6E29, #FE3794, #A264B9, #4DBED1);
     background-size: contain;
     content: '';
     top: 0;
     right: 0;
     left: 0;
     bottom: 0;
     position: absolute;
     transform: translateZ(-1px) scale(2.2);
     background-size: 100%;
     z-index: -1;
 }